{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form_template.css' %}" type="text/css" />
    <title>Update Auction</title>
  </head>
  <body>
  <div class="container">
    <form action="{% url 'update-auction' pk=pk%}" method="POST">
      <h1>Update Auction</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update Auction" class="blue-button">
    </form>
    <form action="{% url 'upload-image' pk=pk%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ imageForm.as_p }}
      <input type="submit" value="Upload new image" class="blue-button">
    </form>
    {% for image in images %}
    <img src="{{image.image.url}}" width="250"/>
    <a href="{% url 'delete-image' pk=image.pk %}" class="blue-button">delete image</a>
    {% endfor %}
  </div>
  </body>
</html>
