body {
    margin: 0;
}

.container_main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5%;

}

.container {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    grid-column: span 2;
}

.container h3{
    font-size: 2.25rem;
    text-align: center;

    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem 0;
}

.container_three-column {
    grid-column: span 3;
}

.container_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 0.5rem 1.5rem 0.5rem;
}

.container_links a {
    text-decoration: none;
    font-size: 2rem;
    text-align: center;

    display: block;
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blue-button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.creat-button {
    margin-bottom: 1rem;
}

.container_report select {
    display: block;
    min-width: 330px;
    width: 100%;
    padding: 0.375rem 0rem;
    font-size: 1.35rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 1rem;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECEC;
    padding: 0 5%;
    margin: 0;
}

.header_nav {
    display: flex;
    gap: 15px;
}

.header_nav a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}