{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login_main.css' %}" type="text/css" />
    <title>Login</title>

</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" >
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
<!--        <a href="{% url 'home' %}">Main page</a>-->
    </form>
<!--    <p>Not yet registered? Then ask admin to add you.</p>-->
<!--    <a href="{% url 'driver-signup' %}">Signup as Driver</a><br>-->
</body>
</html>