<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route list</title>
  </head>
  <body>
    <h1>Route list</h1>
    {% for route in routes%}
    <li>
      <div>Driver: {{route.driver}} | Vehicle: {{route.vehicle}} | Destination: {{route.destination}}</div>
      <a href="{% url 'start-route' pk=route.id %}">Start route</a>
    </li>
    {% endfor %}
  </body>
</html>
