<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managment Page</title>
</head>
<body>
    <h1>Add new users</h1>
    <a href="{% url 'driver-signup' %}" type="button">Add new driver</a>
    <a href="{% url 'fuel-person-signup' %}" type="button">Add new fueling person</a>
    <a href="{% url 'maintenance-person-signup' %}" type="button">Add new mainenance person</a>
    <h1>Manage Vehicle</h1>
    <a href="{% url 'create-vehicle' %}">Add new vehicle</a>
    <a href="{% url 'assign-vehicle' %}">Assign vehicle to a driver</a>
    <h1>Manage tasks</h1>
    <a href="{% url 'create-route' %}">Create new route</a>
</html>
