{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/manager_page_styles.css' %}" type="text/css" />
    <title>Management Page</title>
</head>
<body>

<header class="header">
    <div class="header_logo">
        <h1>VMS for NU</h1>
    </div>
    <div class="header_nav">
        <a href="{%url 'home'%}">Home</a>
        <a href="#contacts">Contacts</a>
        <a href="{%url 'login'%}" class="">Sign in</a>
    </div>
</header>

<h1 style="text-align: center">Admin page</h1>
<div class="container_main">
    <div class="container">
        <h3>Add new users</h3>
        <div class="container_links">
            <a href="{% url 'driver-signup' %}" type="button">Add new driver</a>
            <a href="{% url 'fuel-person-signup' %}" type="button">Add new fueling person</a>
            <a href="{% url 'maintenance-person-signup' %}" type="button">Add new maintenance person</a>
        </div>
    </div>
    <div class="container">
        <h3>Manage vehicle</h3>
        <div class="container_links">
            <a href="{% url 'assign-vehicle' %}">Assign vehicle to a driver</a>
            <a href="{% url 'create-vehicle' %}">Add new vehicle</a>
            <a href="{% url 'fueling-reports-list' %}">Fueling reports</a>
        </div>
    </div>
    <div class="container">
        <h3>Manage tasks</h3>
        <div class="container_links">
            <a href="{% url 'routes' %}">View routes</a>
            <a href="{% url 'create-route' %}">Create new route</a>
            <a href="{% url 'products:list_reports' %}">View all maintainance reports</a>
        </div>
    </div>
    <div class="container container_three-column">
        <h3>Auctions</h3>
        <div class="container_links">
            <a href="{% url 'create-auction' %}">Create new auction</a>
            <a href="{% url 'auctions' %}">View all auctions</a>
        </div>
    </div>
    <div class="container container_report container_three-column">
        <h3>Create report</h3>
        <form method="post" action="{% url 'admin-home' %}">
            {% csrf_token %}
            <button type="submit" class="blue-button creat-button">Create report about: </button>
            <select name="driver">
                {% for driver in drivers %}
                <option value="{{ driver.user.id }}"> {{ driver.first_name }} {{ driver.last_name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>
</html>
