{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/route_list.css' %}" type="text/css" />
    <title>Route list</title>
  </head>
  <body>
    <h1>Route list</h1>
    <ol>
    {%for route in routes%}
      <li>
        <ul>
          <li>Driver: {{route.driver}}</li>
          <li>Vehicle: {{route.vehicle}}</li>
          <li>Destination: {{route.destination}}</li>
          <li>Status: {{route.status}}</li>
          <a href="{% url 'update-route' pk=route.id %}" class="blue-button">Update</a>
          <a href="{% url 'delete-route' pk=route.id %}" class="blue-button">Delete</a>
        </ul>
      </li>
      {%endfor%}
    </ol>
    <a href="{%url 'admin-home'%}" class="blue-button">Back</a>
  </body>
</html>
