<h2>My Tasks</h2>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                <p>{{ task.description }}</p>
                <p>Due Date: {{ task.due_date }}</p>
                <p>Priority: {{ task.get_priority_display }}</p>
                <p>Completed: {{ task.completed }}</p>
                <a href="{% url 'products:edit-task' task.id %}">Edit</a>
                <a href="{% url 'products:delete-task' task.id %}">Delete</a>
                <a href="{% url 'products:create_report' %}">Submit Report</a>
            </li>

            {% empty %}
            <li>No tasks found.</li>
        {% endfor %}

    </ul>
    <a href="{% url 'products:create-task' %}">Add New Task</a>